/* Colors 
    White - F9F7F7
    BlueLight - DBE2EF
    BlueMedium - 3F72AF
    BlueDark - 112D4E
*/
:root{
    --White: #F9F7F7;
    --BlueLight: #DBE2EF;
    --BlueMedium: #3F72AF;
    --BlueDark: #112D4E;

}

.bd-header{
    background-color:var(--BlueDark);
}

.bd-content{
    background-color:var(--White);
}

.bd-main{
    background-color:var(--White);
}

.bd-nav-item{
    color:var(--White);
}